[common]
bot_token = BOTTOKEN
basic_user = BASIC_USER
basic_pass = BASIC_USER_PASS
allowed_chat = GROUP_ID_NUMBER

[sonarr]
url = https://sonarr.example.com
token = SONARR_API_TOKEN
root_folder_path = /path/to/movies/

[radarr]
url = https://radarr.example.com
token = RADARR_API_TOKEN
root_folder_path = /path/to/tv_shows/
